
.month-container {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
  font-family: "Century Gothic", sans-serif;
  color: #E5D4ED;
  border: 2px solid #E5D4ED;
  display: inline-block;
  height: 100%;
  width: 100%;
  min-width: 260px;
  min-height: 260px;
  text-align: center;
  border-radius: 15px;
  background: #AB4037;
}

.month-header {
  border-radius: 15px 15px 0 0;
  height: 10%;
  padding:3%;
}

.month-title {
  text-align: center;
  margin: 0 auto;
  user-select: none;
}

.weekday-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 10%;
}

.weekday {
  margin: 2px;
  border-radius: 0%;
  text-align: center;
  margin: 0;
  padding: 5%;
  font-weight: bolder;
  user-select: none;
}

.month-days { 
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height:70%;
}

.big-month > .month-days {
  height: 80%;
  width: 95%;
  margin: 0 auto;
}

.big-month > .month-title, .month-header {
  height: 10%;
}

.big-month > .weekday-container {
  height: 5%;
  line-height: 0;
  width: 95%;
  margin: 0 auto;
}