:root {
  --nav-size: 60px;
  --dhs-color: #7b241c;
  --dhs-color-light: #ab4037;
  --item-size: calc(var(--nav-size) * .8);
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.navbar {
  background: var(--dhs-color);
  max-width: 100%;
  height: 100%;
  display: flex;
}

.nav-ul {
  display: flex;
  margin-left: auto;
}

.nav-item {
  list-style: none;
  width: var(--item-size);
  height: var(--item-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-btn {
  --button-size: calc(var(--nav-size) * .5);
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 50%;
  background: var(--dhs-color-light);
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 2px;
  align-items: center;
  text-decoration: none;
  transition: filter .5s;
}

.icon-btn svg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.icon-btn:hover {
  filter: brightness(1.2);
}

.nav-logo {
  width: calc(var(--item-size) * .8);
  height: calc(var(--item-size) * .8);
  background: white;
  border-radius: 50%;
  margin: 2px;
  opacity: .5;
  transition: opacity .5s;
}

.nav-logo:hover {
  opacity: 1;
  cursor: pointer;
}
